@using MVCKutuphane.Models.Entity
@model List<TBLHareket>
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/_LayautPanel.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Simple Tables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3>Kitaplarım</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Kitap Tablom</h3>
                                
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Kitap Adı</th>
                                            <th>ALIŞ TARİHİ</th>
                                            <th>ÜYE İADE TARİHİ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var ktpiade in Model)
                                        {
                                            <tr>
                                                <td>@ktpiade.TBLKitap.Ad</td>
                                                <td>@Convert.ToDateTime(ktpiade.AlisTarih).ToString("dd/MM/yyyy")</td>
                                                <td>@Convert.ToDateTime(ktpiade.UyeGetirTarih).ToString("dd/MM/yyyy")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>