@model MVCKutuphane.Models.Entity.TBLUyeler
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kütüphane Login</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Art Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates,
		Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="~/weblogin1/css/style.css" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="~/weblogin1/css/fontawesome-all.css" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- /google fonts-->

</head>


<body>
    <h1>Kütüphanemize Hoşgeldiniz</h1>
    <div class=" w3l-login-form">
        <h2>Giriş Yap</h2>
        @*<form action="/Panel/Index/" method="POST">*@
        @using (Html.BeginForm("GirisYap", "Login1", FormMethod.Post))
        {
            <div class=" w3l-form-group">
                <label>Email Adresiniz:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" placeholder="Email Adresiniz..." name="Mail" required="required" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Şifre:</label>
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" class="form-control" placeholder="Şifre..." name="Sifre" required="required" />
                </div>
            </div>
            <div class="forgot">
                <a href="#">Şifremi Unuttum?</a>
                <p><input type="checkbox">Beni Hatırla</p>
            </div>
            <button type="submit">Giriş Yap</button>
        }
        @*</form>*@
        <p class=" w3l-register-p">Bir Hesabınız Yok mu?<a href="/KayitOl1/Kayit" class="register"> Kaydol</a></p>
    </div>
    <footer>
        <p class="copyright-agileinfo"> &copy;  2021 Kayıt Form. Tüm Hakları Saklıdır | Guvanç Yazgulyyev Tarafından Yapıldı.</p>
    </footer>

</body>

</html>