
@{
    ViewBag.Title = "HavaKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d3936d63/tokat/" data-label_1="TOKAT"
   data-label_2="HAVA DURUMU" data-theme="original">TOKAT HAVA DURUMU</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>

<br />

<a class="weatherwidget-io" href="https://forecast7.com/tr/37d6161d86/mary/"
   data-label_1="MARY TÜRKMENİSTAN" data-label_2="HAVA DURUMU" data-theme="original">MARY TÜRKMENİSTAN HAVA DURUMU</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>

<br />

<a class="weatherwidget-io" href="https://forecast7.com/tr/52d5213d40/berlin/"
   data-label_1="BERLIN" data-label_2="HAVA DURUMU" data-theme="original">BERLIN HAVA DURUMU</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>
<BR />

<a class="weatherwidget-io" href="https://forecast7.com/tr/51d9219d15/poland/"
   data-label_1="POLONYA" data-label_2="HAVA DURUMU" data-theme="original">POLONYA HAVA DURUMU</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/52d374d90/amsterdam/" data-label_1="AMSTERDAM" data-label_2="HAVA DURUMU" data-theme="original">AMSTERDAM HAVA DURUMU</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/56d4737d57/russia/" data-label_1="RUSSIA" data-label_2="HAVA DURUMU" data-theme="original">RUSSIA HAVA DURUMU</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/35d71139d73/tokyo/" data-label_1="TOKYO" data-label_2="HAVA DURUMU" data-theme="original">TOKYO HAVA DURUMU</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/37d09n95d71/united-states/" data-label_1="ABD" data-label_2="HAVA DURUMU" data-theme="original">ABD HAVA DURUMU</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
